@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media print {
  @page {
    size: A4;
    margin: 1cm;
  }
  
  .no-print {
    display: none !important;
  }
  
  .print-full-page {
    page-break-inside: avoid;
  }
  
  body {
    background: white;
    color: black;
  }
}
